*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    height: 85vh;
}

h1 {
    padding: 20px;
    text-align: center;
    background-color: #152736;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, serif;
}

#conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-bottom: 20px; 
    cursor: pointer;
    /* -webkit-tap-highlight-color: transparent */
    
}


.torres{
    width: 100px;
    height: 150px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border-bottom: 2px solid black;
}



.coluna{
    border-radius: 2px;
    width: 6px;
    height: 100%;
    background-color: black;
}

#top{
    width: 40px;
    height: 30px;
    background-color: palevioletred;
    border-radius: 10px;

}

#middle{
    width: 60px;
    height: 30px;
    background-color: orange;
    border-radius: 10px;
}

#bottom{
    display: flex;
    align-items: flex-end;
    width: 90px;
    height: 30px;
    background-color: firebrick;
    border-radius: 10px;
}

#statsContainer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.hugging {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jogadas, #timer{
    padding-bottom: 10px;
}

span{
    font-weight: bolder;
    font-size: 1.3rem;
}

#botoes{
    display: flex;
    justify-content: space-around;
}

button { 
    width: 100px;
    background-color: #152736;
    color: white;
    border: none;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}

#resultado {
    text-align: center;
    padding: 40px;
    font-size: 1.3rem;
    font-weight: bolder;
}

.disabled{
    opacity: 50%;
}

#disco{
    height: 50px;
}

#modoJogador{
    text-align: center;
}

#disco{
    display: flex;
    justify-content: center;
}

/*--------------- MODAL WINNER --------------- */

#modalWinner {
    background-color: #152736;
    border-radius: 10px;
    position: absolute;
    width: 90%;
    height: 40%;
    left: 5%;
    bottom: 4%;
    padding: 48px;
}

#modalOverlay {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#congrats {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}

#congrats h3 {
    color: rgb(99, 187, 99);
}

#btJogarNovamente{
    background-color: lightblue;
    width: 100%;
    padding: 20px 20px;
    border-radius: 8px;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}

.oculta {
    visibility: hidden;
}

/*------------------ MODAL LOSER --------------------*/

#modalLoser {
    background-color: #152736;
    border-radius: 10px;
    position: absolute;
    width: 90%;
    height: 40%;
    left: 5%;
    bottom: 4%;
    padding: 48px;
}

#modalOverlay2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#sorries {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}

#sorries h3 {
    color: rgb(227, 114, 114);
}

#btJogarNovamente2{
    background-color: lightblue;
    width: 100%;
    padding: 20px 20px;
    border-radius: 8px;
    color: black;
    font-weight: bolder;
    font-size: 1.5rem;
}

.oculta2 {
    visibility: hidden;
} 

/*------------------- Responsivo ---------------------*/

@media(min-width: 450px){
    body{
        width: 100%;
        height: 100%;
    }

    #conteiner{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        margin: 0 auto; 
    }

    .torres{
        width: 150px;
    }

    #statsContainer{
     margin-left: 180px;
    }

    #botoes{
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    #btStart{
        margin-right: 30px;;
    }

}

@media (min-width: 818px){

    #modalLoser{
        height: 75%;
    }

    #modalWinner{
        height: 70%;
    }

    #gifWinner {
        width: 300px;
        height: 300px;
        background-image: url('./assets/hanoiWinnerBaby.gif');
        background-position: center;
    }

    #gifLoser {
        width: 300px;
        height: 300px;
        background-image: url('./assets/hanoiLoser.gif');
        background-position: center;
    }
}
